@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'reactflow/dist/style.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* React Flow 自定义样式覆盖 */
.react-flow__edge-path {
  stroke: #0ea5e9; /* Sky Blue 500 */
  stroke-width: 2;
}

.react-flow__attribution {
  display: none;
}