@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* AntV X6 Container */
.x6-graph-scroller {
  width: 100%;
  height: 100%;
  background: #f8fafc; /* slate-50 */
}

.x6-node {
    background: transparent;
}

/* 消除默认的 focus 轮廓 */
.x6-node:focus, .x6-edge:focus {
    outline: none;
}
